@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }
 
 .footer{
    margin-top: 1%;
   display: grid;
   height: 100%;
   width: 100%;
   place-items: center;
  border: none;
   background: linear-gradient(315deg,rgba(43, 51, 59, 0.8) 0%, #d7e1ec 84%);
 }
 .wrapper .button{
   display: inline-block;
   height: 60px;
   width: 60px;
   float: left;
   margin: 10px 5px;
   overflow: hidden;
   background: #fff;
   border-radius: 50px;
   cursor: pointer;
   box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
   transition: all 0.3s ease-out;
 }
 .wrapper .button:hover{
   width: 200px;
 }
 .wrapper .button .icon{
   display: inline-block;
   height: 60px;
   width: 60px;
   text-align: center;
   border-radius: 50px;
   box-sizing: border-box;
   line-height: 60px;
   transition: all 0.3s ease-out;
 }
 .wrapper .button:nth-child(1):hover .icon{
   background: #4267B2;
 }
 .wrapper .button:nth-child(2):hover .icon{
   background: #1DA1F2;
 }
 .wrapper .button:nth-child(3):hover .icon{
   background: #E1306C;
 }
 
 
 
 .wrapper .button:nth-child(4):hover .icon{
   background: #0077b5;
 }
 .wrapper .button:nth-child(5):hover .icon{
    background: #333;
  }
  .wrapper .button:nth-child(6):hover .icon{
    background: #E60023;
  }
 .wrapper .button .icon i{
   font-size: 25px;
   line-height: 60px;
   transition: all 0.3s ease-out;
 }
 .wrapper .button:hover .icon i{
   color: #fff;
 }
 .wrapper .button span{
   font-size: 20px;
   font-weight: 500;
   line-height: 60px;
   margin-left: 10px;
   transition: all 0.3s ease-out;
 }
 .wrapper .button:nth-child(1) span{
   color: #4267B2;
 }
 .wrapper .button:nth-child(2) span{
   color: #1DA1F2;
 }
 .wrapper .button:nth-child(3) span{
   color: #E1306C;
 }
 .wrapper .button:nth-child(4) span{
   color: #0077b5;
 }
 .wrapper .button:nth-child(5) span{
    color: #333;
  }
  .wrapper .button:nth-child(6) span{
    color: #E60023;
  }

 .footer1 {
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(315deg,rgba(43, 50, 58, 0.8) 0%, #d7e1ec 98%);
    color: white;
    text-align: center;
 }
 a{
     color: none;
     border: none;
     text-decoration: none;
 }
 /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}